    .display-4 {
        text-align: center;
        font-weight: bold;
    }
    
    .selectbtn,
    h3 {
        text-align: center;
    }
    
    .userForm {
        border: 1px black solid;
        padding: 15px;
        box-shadow: 1px 1px 10px 10px;
        margin-bottom: 30px;
    }
    
    .container {
        height: 100vh;
    }
    
    .viewTable {
        border: 1px black solid;
        padding: 15px;
        box-shadow: 1px 1px 10px 10px;
        margin-bottom: 30px;
        
    }